img {
	width: 200px;
}

body {
	text-align: center;
	font-family: "Radley";
	background: antiquewhite;
	color: darkolivegreen;
}

footer {
	position:fixed;
	text-align:center;
	width:100%;
	padding-top: 2%;
}